.ant-card.ant-card-bordered {
    width: 250px;
    margin-right: 10px;
    .ant-card-body {
        height: 80px;
    }
}
.ant-input-number {
    margin-right: 10px;
}
span.stop {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
span.start {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}