/*
 * @Author: kuangdan 
 * @Date: 2019-10-31 15:42:34 
 * @Last Modified: 2019-10-31 15:42:34 
 */

@main-color: #132169;
@deepen-main-color-10: darken(@main-color, 10%);
@nav-bg-color: #001529;
@active-color: #0070cc;
@white-color: #fff;
@bg-color: #f5f5f5;
@manager-color: #262626;

@image: "../image";

.container {
    display: flex;

    aside.sidebar {
        background: @manager-color;
        .logo {
            width: 100%;
            height: 54px;
            background: url("@{image}/logo.png");
            background-position: 50% 50%;
            background-size: 52px 42px;
            background-repeat: no-repeat;
        }
    }

    .content-wrap {
        width: 100%;
        header {
            display: flex;
            align-items: flex-start;
            width: 100%;
            height: 54px;
            line-height: 54px;
            // background: @nav-bg-color;
            background: @manager-color;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);

            nav {
                // padding-left: 20px;
                width: 100%;
                color: rgba(255, 255, 255, 0.65);
                font-family: bold;

                ul {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    height: 100%;

                    li {
                        padding-left: 22px;
                        padding-right: 22px;
                        height: 100%;
                        align-self: center;
                        text-align: center;
                        cursor: pointer;
                        color: @white-color;
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: @white-color;
                        }

                        &:hover,
                        a:active {
                            color: @white-color;
                            background: @active-color;
                        }
                    }

                    li.active {
                        background: @active-color;

                        a {
                            color: @white-color;
                        }
                    }
                }
            }

            nav.active {
                background: @active-color;
                color: #fff;
            }
        }

        main {
            padding: 20px;
            width: 100%;
            height: 100vh;
            .breadcrumbs {
                margin-bottom: 12px;
                width: 100%;
                a {
                    color: rgba(0, 0, 0, 0.65);
                    &:hover {
                        color: @active-color;
                    }
                }
            }

            .page-content {
                overflow: scroll;
                width: 100%;
                height: 100%;
                font-size: 12px!important;
                div {
                    font-size: 12px!important;
                }
            }

            table {
                font-size: 12px;
                tbody {
                    tr, th {
                        font-size: 12px;
                    }
                }
            }
        }

        footer {}
    }
}

button.ant-btn {
    font-size: 12px!important;
}

.ant-btn-primary {
    background-color: @active-color;
    border-color: @active-color;
}

.ant-pagination-item-active a {
    color: @active-color;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    // background-color: @active-color;
    background: rgb(51, 51, 51);
}
.ant-menu-dark .ant-menu-item-selected .anticon, .ant-menu-dark .ant-menu-item-selected .anticon + span {
    color: #2a90d7;
}

.ant-breadcrumb {
    color: #333;
}

a {
    color: @active-color;
}

.ant-layout-sider {
    background: rgb(51, 51, 51);
    ul {
        background: rgb(51, 51, 51);
    }
}
.ant-layout-sider-trigger {
    background: lighten(@manager-color, 10%);
}